<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shop Homepage - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

</head>

<body>
<div class="container">
  <!-- Search form -->
  <input class="form-control mb-5 mt-5" type="text" placeholder="Search" aria-label="Search">
  <div class="card-deck">
    {% if movies %}
    {% for movie in movies %}
    <div class="col-sm-3 d-flex align-items-stretch projects">
      <div class="card bm-4">
        <img class="img-thumbnail" src="" alt={{movie.title}}>
        <div class="card-body">
          <h5 class="card-title">{{movie.title}}</h5>
          <p class="text">Rating: {{movie.avg_vote}}</p>
          <p class="card-text">{{movie.description}}</p>
        </div>
      </div>
    </div>

    {% endfor %}
    {% else %}
    <p>No movies are available.</p>
    {% endif %}
  </div>

  <div class="pagination">
    <span class="step-links">
        {% if movies.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ movies.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ movies.number }} of {{ movies.paginator.num_pages }}.
        </span>

        {% if movies.has_next %}
            <a href="?page={{ movies.next_page_number }}">next</a>
            <a href="?page={{ movies.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>

</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

</body>

</html>